4. XML & JSON-20190809T101618Z-001/4. XML _ JSON/company.xml

<?xml version="1.0"?>

<!ELEMENT Mobile (Company, Model, Price, Accessories)>
<!ELEMENT Company (#PCDATA)>
<!ELEMENT Model (#PCDATA)>
<!ELEMENT Price (#PCDATA)>
<!ELEMENT Accessories (#PCDATA)>
<!ATTLIST Model Type CDATA "Camera">
<!ENTITY HP "Head Phones">
<!ENTITY CH "Charger">
<!ENTITY SK "Starters Kit">

<Mobile>
	<Company>Sony</Company>
	<Model></Model>
	<Price>500$</Price>
	<Accessories></Accessories>
</Mobile>

